@charset "UTF-8";

/*----------------
common
------------------*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/*----------------
nav
------------------*/
.collapsible {
  .active {
    .collapsible-header {
      i {
        transform: rotate(180deg);
      }
    }
  }
}
/*----------------
card list
------------------*/
.card {
  .card-content {
    word-break: break-all;
  }
}